.newsSectionArea {
    background: linear-gradient(
      329deg,
      rgba(44, 124, 122, 0.2) 4.56%,
      rgba(65, 181, 181, 0.15) 96.52%
    );
  }
  
  .newsFilter {
    min-width: 65px !important;
    font-size: 14px !important;
    padding: 8px 16px !important;
    border-radius: 100px !important;
    background: #e8e8e9 !important;
    color: #2c7c7a !important;
    text-align: center !important;
    margin-right: 12px !important;
    border: 1px solid #2C7C7A !important;
  }
  
  .newsContentLength {
    width: 60%;
    margin: 0 auto;
  }
  
  @media only screen and (max-width: 576px) {
    .newsContentLength {
      width: 100%;
      margin: 0 auto;
    }
  }
  
  .newsCard {
      background-color: #fff;
    padding: 24px 12px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.08);
    border-left: 4px solid #4b4b50;
  }
  
  .newsTitle {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
  }
  .newsTitle:hover {
    color: #000;
    text-decoration: underline;
  }
  
  .newsPaperName {
    font-size: 14px;
    color: #78787c;
    margin: 6px 0 0 0;
  }
  
  .btnSeeMore {
    font-size: 16px;
    font-weight: 500px;
    color: #2c7c7a;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 576px) {
    .newsCard {
      padding: 12px 8px;
    }
    .newsTitle {
      font-size: 14px;
    }
    .newsTitle:hover {
      color: #000;
      text-decoration: underline;
    }
  
    .newsPaperName {
      font-size: 12px;
      color: #78787c;
      margin: 4px 0 0 0;
    }
  
    .btnSeeMore {
      font-size: 16px;
      font-weight: 500px;
      color: #2c7c7a;
      cursor: pointer;
    }
  }
  
  .customDiv {
    width: 216px;
    height: 384px;
    padding-bottom: 0;
    box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
    border-radius: 4px;
    will-change: transform;
    margin-right: 1.5rem;
  }
  .NewsVideosOverlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1),
  }
  
  
  .iframeStyles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 8px;
  }
  
  
  .NewsVideosTitle {
    width: 216px;
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
  }
  
  @media only screen and (max-width: 576px) {
    .customDiv {
      width: 120px;
      height: 180px;
      padding-bottom: 0;
      box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
      border-radius: 8px;
      will-change: transform;
      margin-right: .5rem !important;
    }
  
    .iframeStyles {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: none;
      padding: 0;
      margin: 0;
      border-radius: 8px;
    }
    .NewsVideosTitle {
      width: 120px;
      font-size: 12px;
    }
  }
  
  .ShortsCustomModal{
    max-width: 400px !important;
    height: 80vh !important;
      margin: 0 auto;
  }
  
  .ShortsCustomModalIframe{
    width: 365px;
    height: 650px;
    border-radius: 4px;
    margin-left: 1px;
  }
  
  
  @media only screen and (max-width: 576px) {
    .ShortsCustomModalIframe{
      width: 100%;
      height: 550px;
    }
  }
  
  